@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  border: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog */

.blog-prev {
  margin: 10px auto;
  padding: 10px ;
  border-bottom: 1px solid #fafafa;
  text-decoration: none;
}

.blog-prev h2{
  font-size: 20;
}

.blog-prev:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}


/* blog-list */

.blog-list h1{
  color: #f1356d;
}

.blog-list a{
  text-decoration: none;
}

.blog-con {
  display: flex;
  padding: 5px;
}

.blog-con p{
  min-width: 300px;
  
}

.blog-con button{
  padding: 6px;
}

.blog-con button:hover{
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Create Form */

.create-form{
  margin: 10px;
  padding: 10px;
}

.c-form {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.c-form p{
  align-items: center;
  padding: 10px;
  font-weight: 800;
}

.c-form textarea, .c-form input, .c-form select {
  padding: 5px;
  background-color: #ddd;
  padding: 6px 10px;
  box-sizing: border-box;
}

.c-form button{
  margin-top: 10px;
  font-weight: 700;
  background: #fff;
  color: #f1356d;
  border: 1px #f1356d solid;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.c-form button:hover{
  background: #f1356d;
  color: #fff;
}

/* blod-details */

.blog-details p{
  padding: 7px;
}

.blog-details h2{
  color: #f1356d;
  font-size: 20px;
  margin-bottom: 10px;
}

.blog-details div{
  margin-bottom: 20px 0;
}

,.blog-details button{
  margin-top: 10px;
  font-weight: 700;
  background: #fff;
  color: #f1356d;
  border: 1px #f1356d solid;
  padding: 1em;
  border-radius: 8px;
  cursor: pointer;
}

.blog-details button:hover{
  background: #f1356d;
  color: #fff;
}